<header class="site-header">
    <nav class="navbar navbar-default navbar-fixed-top"
    style="border-bottom: 10px solid transparent;border-image: url(assets/img/NSDC-LINE-1.png) 30 round;">
    <div class="container">
      <div class="navbar-header" style="width: 100%;">
        <div class="row">
  
          <div class="col-xl-4 col-md-4 col-sm-4 col-4">
            <div class="site-logo" style="margin-top: 5px;">
              <a href="#" class="main-logo">
                <img src="assets/img/logo.png" alt="Site Logo" style="width: 15vh;margin-top: 4px;"/>
              </a>
            </div>
          </div>
  
          <div class="col-xl-4 col-md-4 col-sm-4 col-4">
            <div style="display: flex; justify-content:center; align-items:center;margin-top: 10px;">
              <div class="site-logo">
  
                <a href="#" class="main-logo">
                  <img src="assets/img/SKILLMAP  TEXT.png" alt="Site Logo" style="width: 100%;"/>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 col-sm-4 col-4">
            <div class="site-logo" style="float: right;">
              <a href="#" class="main-logo">
                <img src="assets/img/SKILL INDIA.png" alt="Site Logo" style="width: 12vh;margin-top: 4px" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>